@import 'common';

.container {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
  height: 200px;
  outline: none;

  .poster {
    margin: 10px;
    width: 150px;

    img {
      width: 100%;
    }
  }

  .details {
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;

    .title {
      color: $blue-margo;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .genre {
      margin-bottom: 10px;
    }

    .description {
      color: $blue-light;
      height: 120px;
      overflow-y: auto;
      font-style: italic;
      flex: 1;
    }
  }

  .icon {
    position: absolute;
    bottom: 25px;
    right: 15%;
    opacity: 0.1;
    color: #1b2178;
  }
}
