<app-block>
  <div class="container" [routerLink]="'/view/' + media.getType() + '/' + media.id">
    <div class="poster">
      <img [src]="media.poster" *ngIf="media.poster">
    </div>
    <div class="details">
      <div class="title">
        <span class="fas fa-{{media.getIconType()}}"></span>
        {{media.title}}
        <app-note [note]="media.notes.mean"></app-note>
      </div>
      <div class="genre"><span margoLabel *ngFor="let genre of media.genres">{{genre}}</span></div>
      <div class="description">{{media.resume}}</div>
    </div>
  </div>
</app-block>
