<ng-container *ngIf="show">
  <app-block>
  <div class="media">
    <div class="image"><img [src]="show.poster"></div>
    <div class="info">
      <div class="title">{{show.title}}</div>
      <div class="note"><span class="key">Note: </span>{{show.notes.mean | number: '1.0-1'}} ({{show.notes.total}}
        votes)
      </div>
      <div class="followers"><span class="key">Followers: </span>{{show.followers}}</div>
      <div class="genres"><span margoLabel *ngFor="let genre of show.genres">{{genre}}</span></div>
      <div class="network"><span class="key">Network: </span>{{show.network}}</div>
      <div class="status"><span class="key">Status: </span>{{show.status}}</div>
      <div class="seasons"><span class="key">Seasons </span>{{show.seasons}}, <span class="key">Episodes: </span>{{show.episodes}}
      </div>
      <div class="watched"><span margoLabel *ngFor="let episode of watchedEpisodes">{{episode}}</span></div>
      <div class="resume">{{show.resume}}</div>
    </div>
  </div>
  </app-block>

  <app-block [blockTitle]="'Season Details'" *ngIf="episodes"  class="margin-block">
    <app-season-detail [episodes]="episodes" (episodeWatched)="watchEpisode($event)"></app-season-detail>
  </app-block>

  <app-block [blockTitle]="'Pictures'" class="margin-block">
    <app-pictures [id]="show.id"></app-pictures>
  </app-block>

  <app-block [blockTitle]="'Comments'" class="margin-block">
    <app-comments [id]="show.id" [type]="'show'"></app-comments>
  </app-block>
</ng-container>
